@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    font-weight: bold;
    position: relative;
    text-decoration: none; 
}

.link::before {
    content: '';
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0;
    height: 2px; 
    background-color: #461010; 
    transition: width 0.3s ease-in-out; 
  }
  
  .link:hover::before {
    width: 100%;
  }

.grow_img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
}

.grow:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    background: linear-gradient(-90deg, #efb6a6, #fffb8f, #ca954f, #fff7e1d4);
                        background-size: 400% 400%;
                        animation: gradient 180s ease infinite;
                        height: 100vh;
 

}

#intro_heading {
    display: flex;
    justify-content: space-between;
}

#proj_buttons {
    padding: 10px;
}

#technologies {
    font-size: 1.7vh;
}

.project_desc {
    font-size: 2.2vh;
    animation-name: appear;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
}


.cert_image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#projects_lay {
    display: flex;
    justify-content: space-between;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.section {
    margin-top: 30px;
    margin-left: 30px;
    box-sizing:content-box;
    border-radius: 45px;
    width: 750px;
    height: auto;
    min-height: 520px;
    border: 20px solid #7d4242;
    font-size: 2.2vh;
    padding: 15px;
    animation-name: appear;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
    transition: border-color 0.6s ease-in-out;
}
.section:hover {
    border-color: #461010; 
  }

#introduction {
    font-size: 2.2vh;
}

#projects {
    line-height: 3.5vh;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
#certs, #istqb {
    line-height: 3.5vh;
}

#menu {
    font-size: 2.2vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 55px;
    line-height: 3.5vh;
    font-weight: bold;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#layout {
    display: flex;
}

#istqb-style {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#istqb-img {
    border-radius: 45px;
}

@keyframes animate {
    0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
@media (max-width: 768px) {

    #menu {
        position: relative;
        top: 0;
        left: 0;
        padding: 10px;
        margin-bottom: 10px;
    }


    #menu h2 {
        display: none;
    }

    .section {
        margin-top: 60%;
        margin-left: -20%;
        border: none;
        margin-top: 250px;
    }

    #istqb-img {
        border-radius: 15px;
    }
    body {
        font-size: 1rem;
    }