@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.link {
    font-weight: bold;
    position: relative;
    text-decoration: none; 
}

.link::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    width: 0;
    height: 2px; /* Adjust thickness as needed */
    background-color: #6c2727; /* Adjust color as needed */
    transition: width 0.3s ease-in-out; /* Add transition for width */
  }
  
  .link:hover::before {
    width: 100%; /* Expand width to create the underline effect */
  }

.grow_img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
}

.grow:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation-name: appear;
    animation-duration: 5s;
    animation-fill-mode: forwards;  

}

#proj_buttons {
    padding: 10px;
}

#technologies {
    font-size: 1.7vh;
}

.project_desc {
    font-size: 2.2vh;
    animation-name: appear;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
}

.section_image {
    display: flex;
    justify-content: flex-end;
}

.cert_image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#projects_lay {
    display: flex;
    justify-content: space-between;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.section {
    margin-top: 30px;
    margin-left: 30px;
    box-sizing:content-box;
    border-radius: 45px;
    width: 750px;
    height: auto;
    min-height: 520px;
    border: 20px solid #7d4242;
    font-size: 2.2vh;
    padding: 15px;
    animation-name: appear;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;   
    transition: border-color 0.5s ease-in-out;
}
.section:hover {
    border-color: #6c2727; /* Set the new border color on hover */
  }

#introduction {
    font-size: 2.4vh;
}

#projects {
    line-height: 3.5vh;
}

#certs {
    line-height: 3.5vh;
}

#menu {
    font-size: 2.2vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-left: 55px;
    line-height: 3.5vh;
    font-weight: bold;
    animation-name: appear;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#layout {
    display: flex;
}

@keyframes animate {
    0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient(-90deg, #eca38d, #ca819d, #c59960, #deb956d4);
                        background-size: 400% 400%;
                        animation: gradient 180s ease infinite;
                        height: 100vh;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 43%;
    width: 267px;
    height: 267px;
    bottom: -267px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 46%;
    width: 264px;
    height: 264px;
    bottom: -264px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 85%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 79%;
    width: 208px;
    height: 208px;
    bottom: -208px;
    animation-delay: 4s;
}
.background li:nth-child(4) {
    left: 83%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 2s;
}
.background li:nth-child(5) {
    left: 66%;
    width: 208px;
    height: 208px;
    bottom: -208px;
    animation-delay: 16s;
}
.background li:nth-child(6) {
    left: 1%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 18s;
}
.background li:nth-child(7) {
    left: 29%;
    width: 354px;
    height: 354px;
    bottom: -354px;
    animation-delay: 18s;
}
.background li:nth-child(8) {
    left: 45%;
    width: 375px;
    height: 375px;
    bottom: -375px;
    animation-delay: 8s;
}
.background li:nth-child(9) {
    left: 83%;
    width: 375px;
    height: 375px;
    bottom: -375px;
    animation-delay: 16s;
}
